
#main-name {
    color: #424242;
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    text-align:center;
    margin: 0 auto;
    padding-top: 3%;
    padding-bottom: 3%;
}

/* The overall grid that displays content tiled across the page */
.portfolio-container {
    display: grid; /* Make a grid layout */
    width: 80%; /* Make grid container only occupy 80% of horizontal space */
    margin: auto; /* Automatically ensure container stays in middle of screen */
    grid-template-columns: repeat(auto-fill, 400px); /* Each column is 400px wide and new columns are constantly generated to fill the avaliable width */
    grid-auto-rows: minmax(200px, auto); /* Each row is 200px tall, but grows to fit content */
    gap: 40px; /* Equal gap above and to the sides of each grid square */
    justify-content: center; /* Make sure grid squares stay in the center of the grid as it resizes */
    
}

/* The sub elements of the portfolio. They represent each project */
.portfolio-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:gainsboro;
    font-family: 'Courier New', monospace;
    text-align: center;

}

/* Change apperance of portfolio elements when hovered */
.portfolio-container > div:hover {
    background-color: #e91d63;
    color: ghostwhite;

}
