
<!-- <div class="container text-center">
  <div class="row">
    <div class="col" style="background-color: lightblue"><portfolio-links></portfolio-links></div>
  </div>
  <div class="row">
    <div class="col" style="background-color: lightcoral"><portfolio-about></portfolio-about></div>
  </div>
  <div class="row">
    <div class="col" style="background-color: lightgoldenrodyellow"><portfolio-experience></portfolio-experience></div>
  </div>
  <div class="row">
    <div class="col" style="background-color: lightgreen"><portfolio-projects></portfolio-projects></div>
  </div>
</div> -->

<div class="container text-center">
  <div class="row">
    <div class="col"><portfolio-links></portfolio-links></div>
  </div>
  <div class="row">
    <div class="col"><portfolio-about></portfolio-about></div>
  </div>
  <div class="row">
    <div class="col"><portfolio-experience></portfolio-experience></div>
  </div>
  <div class="row">
    <div class="col"><portfolio-projects></portfolio-projects></div>
  </div>
</div>